/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


#about {
  display: flex;
  background-color: yellow;
}


.nav-sec {
  display: flex;
  list-style: none;
}

.proj-cont {
  display: flex;
  gap: 50px;
}

.card {
  background-color: green;
  margin-bottom: 50px;
  width: 50vw;
}