/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


#about {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}


.nav-sec {
  display: flex;
  list-style: none;
}

#proj-container {
  background-color: orange;
  height: 500px;
}

.card-container {
  display: flex;
  gap: 50px;
  background-color: red;
}

.card {
  background-color: green;
  margin-bottom: 50px;
  width: 50vw;
}


#contact {
  background-color: blue;
}

#resume {
  height: 500px;
  background-color: purple;
}

footer {
  display: flex;
  justify-content: center;
  background-color: grey;
  list-style: none;
}