
.hide{
  display: none;
}

#about {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  align-items: center;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  margin: 50px 0 50px 0;
  height: 400px;
  gap: 100px;
}
#about p {
  width: 800px;
}

@media screen and (max-width: 1100px) {
  #about{
    flex-direction: column; 
    height: 500px;
    gap: 20px;
  }
  #about p{
    width: 400px;
  }
}


.nav-sec {
  display: flex;
  list-style: none;
  background-color: rgb(211, 204, 204);
  cursor: pointer;
  gap: 25px;
  height: 50px;
  align-items: center;
}



#proj-container h1 {
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  width: 100%;
  background-color: rgb(185, 150, 150);

} @media screen and (max-width: 1200px) {
  #proj-container h1{
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  
}

.card-container {
  height: 400px; 
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: rgb(185, 150, 150);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
} @media screen and (max-width: 1100px) {
  .card-container{
    background-color: rgb(185, 150, 150);
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    height: 1300px;
    align-items: center;
  }
}

.card {
  display: flex;
  height: 300px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: solid 0.5px rgba(0, 0, 0, 0.283);
  width: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
} @media screen and (max-width: 1100px) {
  .card{
    width: 1000px;
  }
}
@media screen and (max-width: 1050px) {
  .card{

    width: 950px;
  }
}
@media screen and (max-width: 1000px) {
  .card{

    width: 900px;
  }
}
@media screen and (max-width: 960px) {
  .card{

    width: 700px;
  }
}
@media screen and (max-width: 760px) {
  .card{

    width: 650px;
  }
}
@media screen and (max-width: 680px) {
  .card{
    width: 400px;
  }
}


#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(122, 122, 162);
  height: 50vh;

}

#contact input {
  height: 25px;
  margin: 10px;
  max-width: 600px;
}

#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgb(255, 255, 255);
}

footer {
    display: flex;
    list-style: none;
    width: 100%;
    background-color: grey;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 50px;
    gap: 20px;
    cursor: pointer;
  }


  .edu-div {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 50px 0px 150px 20px;
    height: 600px;
  }

  .img {
    height: auto;
    width: 200px;
    border-radius: 50px;
  }
